---
layout: default
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<hr>
<h2>Co-Supervisor for student thesis</h2>
{% for post in site.teaching reversed %}
  {% if post.path contains 'supervisor' %}
     {% include archive-single.html %}
  {% endif %}
{% endfor %}


<hr>
<h2>Teaching assistant</h2>

{% for post in site.teaching reversed %}
  {% if post.path contains 'supervisor' %}
  {% else %}
     {% include archive-single.html %}
  {% endif %}
{% endfor %}
