---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<style>
  /* Styling for content formatting */
  #main {
    max-width: 100%; /* Constrain content width to 60% */
    margin: 0 auto; /* Center the content horizontally */
    text-align: justify; /* Justify all text */
    line-height: 1.4; /* Reduce line spacing */
  }

  .archive {
    text-align: justify; /* Ensure text in the archive section is justified */
    line-height: 1.4; /* Apply reduced line spacing */
  }

  .page__title {
    text-align: center; /* Center the archive page title */
  }
</style>

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
